# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
Edamam API Key = 07015b8fb7809a5ee4afdbe546b5d4b7

Edamam ID = 2d320d45
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
