@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");

body{
    font-family: "Source Sans Pro", sans-serif;
    margin: 1em auto;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    background-color: #040404;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: #000000;
}

.grid{
    display: grid;
    margin: .5px;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0.2em;
    justify-content: center;
}

h2{
    background-color: antiquewhite;
}
